<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium 4 Automation">
    <test name="QA Automation" parallel = "classes" thread-count = "1">
<!--        <groups>-->
<!--           <dependencies>-->
<!--               <group name="b" depends-on="a"></group>-->
<!--               <group name="c" depends-on="a"></group>-->
<!--               <group name="d" depends-on="a"></group>-->
<!--           </dependencies>-->
<!--        </groups>-->
        <classes>
            <class name="testcases.TC02_Cart">
                <methods>
                    <include name="verifyTotalPrice"/>
                </methods>
            </class>
            <class name="testcases.TC03_Product"/>
            <class name="testcases.TC04_Account">
                <methods>
                    <exclude name="getSecondWindowTitle"></exclude>
                </methods>
            </class>
            
        </classes>
    </test>
</suite>